.pg__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.pg__tab {
  height: 30px;
  border-width: 0 0 2px;
  border-color: #fc0;
  margin: 0 15px;
  text-transform: uppercase;
  font-family: 'Barlow Semi Condensed', sans-serif;
  cursor: pointer;
}

.pg__tab:hover:not(.pg__tab--selected) {
  border-width: 0 0 4px;
}

.pg__tab:focus {
  outline: 0;
}

.pg__tab.pg__tab--selected {
  border-width: 0 0 4px;
  border-color: #000;
}

.pg__listcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pg__listcontainer > div {
    display: none;
}

.pg__tab-pendingList, .pg__tab-approvedList, .pg__tab-membersList {
  height: 100px;
  width: 400px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 8px;
}

.pg__tab-pendingList:hover, .pg__tab-approvedList:hover, .pg__tab-membersList:hover {
  cursor: pointer;
}

.pg__tab-pendingList p {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.pg__tab-approvedList p {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.pg__tab-membersList p {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}

.pg__logout {
  position: absolute;
  top: 20px;
  right: 20px;
}
