.pg__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pg_logo {
  display: flex;
  width: 100%;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.pg_logo img {
  width: 80vw;
}

.pg__form form {
  width: 100%;
  max-width: 350px;
}

.pg__formfield {
  width: 100%;
  position: relative;
  margin: 20px 0;
}

.pg__formfield label {
  color: #000;
  position: absolute;
  bottom: 0;
  padding-bottom: 8px;
  left: 0;
  font-size: 20px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.pg__formfield input {
  box-sizing: border-box;
  border-width: 0 0 2px;
  border-color: yellow;
  height: 50px;
  font-size: 20px;
  width: 100%;
  background-color: transparent;
}

.pg__formfield input:focus {
  outline: 0;
}

.button {
  height: 40px;
  width: 200px;
}

.button:focus {
  outline: 0;
}

.button button {
  height: 100%;
  width: 100%;
  color: #000;
  background-color: yellow;
  transition: all 0.3s ease-in-out;
}

.button button:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transform: translateY(-3px);
}
