section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pg__form {
  width: 100%;
  max-width: 350px;
}

.pg__formfield {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.button {
  height: 40px;
  width: 200px;
}

.button button{
  height: 100%;
  width: 100%;
  color: #000;
  background-color: yellow;
  transition: box-shadow 0.3s ease-in-out;
}

.button button:hover{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
