.pg__navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.pg__tab {
  height: 30px;
  border-width: 0 0 2px;
  border-color: yellow;
  margin: 0 15px;
  text-transform: uppercase;
}

.pg__tab:hover {
  cursor: pointer;
}

.pg__tab:focus {
  outline: 0;
}

.pg__listcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pg__listcontainer > div {
    display: none;
}

.pg__tab-richiesta, .pg__tab-approvata, .pg__tab-soci {
  height: 100px;
  width: 400px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 5px;
  border: 2px solid transparent;
}

.pg__tab-richiesta:hover, .pg__tab-approvata:hover, .pg__tab-soci:hover {
  cursor: pointer;
}

.pg__tab-richiesta p {
  margin: 0;
}

.pg__tab-approvata p {
  margin: 0;
}

.pg__tab-soci p {
  margin: 0;
}
